body {
	background: url("http://dennelllucero.com/img/IMG_9161_crop.jpg") no-repeat center center fixed; 
  	background-position: 70% 60%;
  	text-align: center;
  	font-family: "Trebuchet MS", Helvetica, sans-serif;
  	font-weight: bold;
}

h1 {
	font-family: "Verdana", sans-serif;
	padding-top: 20px;
	margin-bottom: -20px;
}

.container>h2 {
	font-family: "Verdana", sans-serif;
	padding-top: 10px;
}

.button {
	border: none;
	background: url("http://clipartix.com/wp-content/uploads/2016/06/Dog-bone-clipart-free-clipart-images.gif") no-repeat center center;
	height: 50px;
	width: 80px;
	background-size: contain;
	border-radius: 16px;
	margin: 0 auto;

}

.button > p {
  padding-top: 15px;
}

.container {
	margin: 0 auto;
	opacity: 1;
	background:rgba(255,255,255, 0.35);
	width: 40%;
	border-radius: 10px;
}

.quiz>p {
	margin-bottom: 10px;
	font-size: larger;
}

.answer {
	width: 70%;
	margin: 0 auto;
	padding: 10px;
}

.answer:hover {
	background-color: #7fffd4;
	cursor: pointer;
	border-radius: 5px;
}

.hidden {
	display: none;
}

.next {
	margin-bottom: 15px;
}

.footer>p {
	font-size: 18px;
}

.footer>p:first-child {
	margin-bottom: -10px;
}

.response {
	margin-top: 0;
	padding-bottom: 15px;
}



